<td class="row-item"> 
    <input class="form-control-sm form-control text-center norm_item_no" quantity-import = "0" dinhmuc-bind = "value:norm_item_no " >
</td>
<td class="row-item">
    <input class="form-control-sm form-control text-center norm_item_name" dinhmuc-bind = "value:norm_item_name" >
</td>
<!-- <td class="row-item">
    <input class="form-control-sm form-control text-center item_name" quantity-import = "0" dinhmuc-bind = "value:item_name"  value="0">
</td> -->
<!-- <td class="row-item"> 
    <input class="form-control-sm form-control text-center unit_name" dinhmuc-bind= "value:unit_name" >
</td>


<td class="row-item"> 
    <input class="form-control-sm form-control text-center machine_name" dinhmuc-bind= "value:machine_name" >
</td>
<td class="row-item"> 
    <input class="form-control-sm form-control text-center note" dinhmuc-bind= "value:note" >
</td> -->
<!-- <td class="row-item">
    <button title="Xem chi tiết NSX" class="btn  btn-sm btn-outline-secondary pr-0 pl-0 brands_info" style="width:100%;"><i class="fa fa-eye" aria-hidden="true" ></i></button>
</td> -->
<td class="row-item" >
    <button type="button" class="btn btn-sm btn-danger" id="itemRemove" style="background-color:transparent; color:red">
        <span class="fa fa-times"></span>
    </button>
</td>
<!-- 
        {"norm_item_no":""},
                    {"norm_item_no":""},
                    {"norm_item_name":""},
                    {"lable":""} -->