
<!-- <td scope="row" class="row-item">
    <input class="form-control-sm form-control text-center stt pl-1 pr-1" value="0">
</td> -->

<!-- <td class="row-item"> 
    <input class=" form-control text-center item_no" item-import = "0" dinhmuc-bind = "value:norm_no " >
</td> -->

<td class="row-item">
    <input class=" form-control text-center item_no" item-bind = "value:item_no" >
</td>
<td class="row-item">
    <input class=" form-control text-center item_name" item-bind = "value:item_name"  value="0">
</td>
<td class="row-item"> 
    <input class=" form-control text-center unit_name" item-bind= "value:unit_name" >
</td>

<!-- <td class="row-item"> 
    <input class=" form-control text-center note" item-bind= "value:note" >
</td> -->
<td class="row-item">
    <button type="button" class="btn btn-sm btn-outline-danger" id="itemRemove">
        <i class="cil-x"></i>
    </button>
</td>