
<!-- <td scope="row" class="row-item">
    <input class="form-control-sm form-control text-center stt pl-1 pr-1" value="0">
</td>
 -->
<td class="row-item"> 
    <input class="form-control-sm form-control text-center norm_no" quantity-import = "0" dinhmuc-bind = "value:norm_no " >
</td>
<td class="row-item">
    <input class="form-control-sm form-control text-center type" dinhmuc-bind = "value:type" >
</td>
<td class="row-item">
    <input class="form-control-sm form-control text-center item_name" quantity-import = "0" dinhmuc-bind = "value:item_name"  value="0">
</td>
<td class="row-item"> 
    <input class="form-control-sm form-control text-center unit_name" dinhmuc-bind= "value:unit_name" >
</td>


<td class="row-item"> 
    <input class="form-control-sm form-control text-center machine_name" dinhmuc-bind= "value:machine_name" >
</td>
<td class="row-item"> 
    <input class="form-control-sm form-control text-center note" dinhmuc-bind= "value:note" >
</td>
<td class="row-item">
    <button title="Xem chi tiết NSX" class="btn  btn-sm btn-outline-secondary pr-0 pl-0 brands_info" style="width:100%;"><i class="fa fa-eye" aria-hidden="true" ></i></button>
</td>
<td class="row-item" >
    <button type="button" class="btn btn-sm btn-danger" id="itemRemove" style="background-color:transparent; color:red">
        <span class="fa fa-times"></span>
    </button>
</td>


<!--     item_no = db.Column(String(40), index=True, nullable=True)
    item_name = db.Column(String(150), nullable=True)

    unit_id = db.Column(UUID(as_uuid=True))
    unit_no = db.Column(String())
    unit_name = db.Column(String())

    machine_id = db.Column(UUID(as_uuid=True), db.ForeignKey('item.id', ondelete='cascade'), index=True)
    machine_no = db.Column(String(40), index=True, nullable=True)
    machine_name = db.Column(String(150), nullable=True)

    note = db.Column(Text()) -->

    <!-- deps: ["norm_no", "type", "item_name", "unit_name"], -->