
<td class="row-item">
    <input class=" form-control text-center" readonly norm-detail-bind = "value:item_no">
</td>
<td class="row-item">
    <input class=" form-control text-center" readonly norm-detail-bind = "value:item_name">
</td>
<td class="row-item"> 
    <input class=" form-control text-center" readonly norm-detail-bind= "value:unit_name" >
</td>
<td class="row-item"> 
    <input class=" form-control text-center" norm-detail-bind= "value:data_dinhmuc_cu_1000T" >
</td>

<td class="row-item"> 
    <input class=" form-control text-center" norm-detail-bind= "value:data_dinhmuc_moi_1000T" >
</td>

<td class="row-item"> 
    <input class=" form-control text-center" norm-detail-bind= "value:data_dinhmuc_moi_100ML_S96" >
</td>

<td class="row-item"> 
    <input class=" form-control text-center" norm-detail-bind= "value:note">
</td>
<td class="row-item">
    <button type="button" class="btn btn-sm btn-outline-danger" id="itemRemove">
        <i class="cil-x"></i>
    </button>
</td>