
<!-- <td scope="row" class="row-item">
    <input class="form-control-sm form-control text-center stt pl-1 pr-1" value="0">
</td> -->

<td class="row-item"> 
    <input class=" form-control text-center item_no" price-item-bind = "value:item_no " >
</td>

<td class="row-item">
    <input class=" form-control text-center item_name" price-item-bind = "value:item_name" >
</td>
<td class="row-item">
    <input class=" form-control text-center unit_name" price-item-bind = "value:unit_name" >
</td>
<td class="row-item"> 
    <input class=" form-control text-center list_price" price-item-bind= "value:list_price" >
</td>
<td style="padding: 10px 3px;"><input type="text" price-item-bind="value:vat" /></td>

<td class="row-item">
    <button type="button" class="btn btn-sm btn-outline-danger" id="itemRemove">
        <i class="cil-x"></i>
    </button>
</td>