

<section class="content">
	<div class="col-lg-12">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">Danh Sách Vật Tư Tiêu Hao</h3>
				<div class="box-tools">
					<div block-bind="toolbar"></div>
				</div>
			</div>

<!-- 			<div class="box-body table-responsive"> -->
				<div block-bind="content" class="row" style="margin-right: 0px; margin-left: 0px;">
					<div class="col-lg-6 base-content">
						<div class="form-group">
							<label>Mã Vật Tư</label>
							<input type="text" data-bind="value:item_no" class="form-control inputbox">
						</div>
						<div class="form-group">
							<label>Tên Vật Tư</label>
							<input type="text" data-bind="value:item_name" class="form-control inputbox">
						</div>
						<div class="form-group">
							<label>Thuế</label>
							<input type="text" data-bind="value:tax_class" class="form-control inputbox">
						</div>
					</div>
					<div class="col-lg-6 base-content">
						<div class="form-group">
							<label>Mô Tả Ngắn Gọn</label>
							<input type="text" data-bind="value:brief_desc" class="form-control inputbox">
						</div>
						<div class="form-group">
							<label>Tên Đơn Vị Tính</label>
							<input type="text" data-bind="value:unit_name" class="form-control inputbox">
						</div> 


						<div class="form-group">
							<label>Tên Nhóm Vật Tư</label>
							<input type="text" data-bind="list:categories" class="form-control inputbox">
						</div>
<!-- 						<div class="row mt-4" >
							<div class="col-lg-3 col-md-3 col-sm-5 col-12">
							  <span class="required" style="line-height: calc(1.5em + .75rem + 6px);">Máy:</span>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-7 col-12">
							  <input class="form-control form-control-line" data-bind="value:is_machine" style="line-height: 34px;">
							</div>
						  </div>
						  
						  <div class="row mt-4" >
							<div class="col-lg-3 col-md-3 col-sm-5 col-12">
							  <span class="required" style="line-height: calc(1.5em + .75rem + 6px);">Sản Phẩm:</span>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-7 col-12">
							  <input class="form-control form-control-line" data-bind="value:is_product" style="line-height: 34px;">
							</div>
						  </div> -->
						</div>
				</div>
			</div>
			<hr>
		</div>
	</div>

</section>

