
<div block-bind="content">
  <div class="page-header row no-gutters py-2">
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card  card-small mb-4" style="position: relative;">
        <div class="card-header  border-bottom">
          <div class="row">
            <div class="col-md-7">
              <h6 class="m-0 pt-2">Định Mức Giá Thành</h6>
            </div>
            <div class="col-md-5 text-right">
              <div block-bind="toolbar"></div>
            </div>
          </div>
        </div>
        <div class="card-body row">




<!--           <div class="col-md-20 col-lg-20 col-sm-12 col-12">
            <div class="form-group">
              <label for="">Đơn Vị</label>
         
              <input id="organization"  class="form-control" data-bind="value:norm_no" />


            </div>

          </div> -->

<!--           <div class="col-md-2 col-lg-2 col-sm-4 col-4">
            <div class="form-group">
              <label for="day-create">Thời gian bắt đầu</label>
              <input type="text" data-bind="value:from_time" />
            </div>
          </div>
          <div class="col-md-2 col-lg-2 col-sm-4 col-4">
            <div class="form-group">
              <label for="day-create">Thời gian kết thúc</label>
              <input type="text" data-bind="value:to_time" />
            </div>
          </div>


          <div class="card-body row">
            <div class="col-md-8 col-lg-6 col-sm-12 col-12">
              <div class="form-group">
                <label for="">Độ ưu tiên</label>
                <input class="form-control" data-bind="value:priority" />
              </div>
            </div> -->

       
<!--   <div class="col-lg-12 base-content">
    <div style="float:right;width:10%;" class="form-group">
      <label>Đơn Vị</label>
      <input type="text" data-bind="value:active" class="form-control inputbox">
    </div>
  </div> -->

  <div class="col-lg-10 base-content">
    <div style="float:right;width:30%;" class="form-group">
        <label for="cars">Đơn Vị Tính:</label>
          <select id="cars" name="cars"  size="1">
            <option value="volvo">Đồng/M3</option>
            <option value="saab">Đồng/T.Km</option>
          </select> 
    </div>
  </div>



            <div class="col-12 out-click">
<!--             <div class="col-md-8 col-lg-6 col-sm-10 col-10">
 -->              <div class="d-flex justify-content-around align-items-center w-100">
                <div  id="add_row"></div>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col" class="text-center" style="width:10%">Mã</th>
                      <th scope="col" class="text-center" style="width:15%">Danh Mục Đơn Giá</th>
                      <th scope="col" class="text-center" style="width:15%">Tổng Giá Thành</th>

                      <th scope="col" class="text-center" style="width:10%">Vật Liệu</th>
                      <th scope="col" class="text-center" style="width:10%">N.Liệu/Đ.Lực</th>
                      <th scope="col" class="text-center" style="width:10%">Bảo Hiểm</th>

                      <th scope="col" class="text-center" style="width:10%">Tiền Lương</th>
                      <th scope="col" class="text-center" style="width:10%">Khấu Hao</th>
                      <th scope="col" class="text-center" style="width:10%">Chi Phí Khác</th>
                    </tr>
                  </thead>
                  <tbody id="" data-bind="list:norm_details"></tbody>
                </table>
              </div>
              <div class="col-md-6 justify-content-around">
                <div id="search-item"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


