
<!-- <td scope="row" class="row-item">
    <input class="form-control-sm form-control text-center stt pl-1 pr-1" value="0">
</td>
 -->
<td class="row-item"> 
    <input class="form-control-sm form-control text-center norm_no" quantity-import = "0" dinhmuc-bind = "value:norm_no " >
</td>
<td class="row-item">
    <input class="form-control-sm form-control text-center item_no" dinhmuc-bind = "value:item_no" >
</td>
<td class="row-item">
    <input class="form-control-sm form-control text-center item_name" quantity-import = "0" dinhmuc-bind = "value:item_name"  value="0">
</td>
<td class="row-item"> 
    <input class="form-control-sm form-control text-center unit_name" dinhmuc-bind= "value:unit_name" >
</td>


<td class="row-item"> 
    <input class="form-control-sm form-control text-center unit_name" dinhmuc-bind= "value:unit_name" >
</td>
<td class="row-item"> 
    <input class="form-control-sm form-control text-center unit_name" dinhmuc-bind= "value:unit_name" >
</td>
<td class="row-item"> 
    <input class="form-control-sm form-control text-center unit_name" dinhmuc-bind= "value:unit_name" >
</td>
<td class="row-item"> 
    <input class="form-control-sm form-control text-center unit_name" dinhmuc-bind= "value:unit_name" >
</td>
<td class="row-item"> 
    <input class="form-control-sm form-control text-center unit_name" dinhmuc-bind= "value:unit_name" >
</td>


<td class="row-item" >
    <button type="button" class="btn btn-sm btn-danger" id="itemRemove" style="background-color:transparent; color:red">
        <span class="fa fa-times"></span>
    </button>
</td>

