<tr>
  <!-- <th scope="col" class="text-center" style="width:100px"></th> -->
  <th rowspan="4" scope="col" class="text-center" style="width:900px">Tên Mã Hiệu Quy Cách Vật Tư</th>
  <th rowspan="4" scope="col" class="text-center" style="width:300px">Đơn Vị Tinh</th>
  <th rowspan="4" scope="col" class="text-center" style="width:300px">Nhu Cầu Vật Tư Hàng Tháng</th>
  <th colspan="15" scope="col" class="text-center" style="width:300px">Danh mục vị trí thi công</th>
  <th rowspan="4" scope="col" class="text-center" style="width:300px">Số lượng duyệt</th>
  <th rowspan="4" scope="col" class="text-center" style="width:300px">Ghi Chú</th>

  <th scope="col"></th>
</tr>
<tr>
  <td colspan="3" style="color:red"style="width:300px">Lò XV-100 k8-k7</td>
  <td colspan="3" style="color:red"style="width:300px">Lò DV-250 M6CT</td>
  <td colspan="3" style="color:red"style="width:300px">Thượng Khai Thác K8CT</td>
  <td colspan="3" style="color:red"style="width:300px">Lò XV2-100 K8-L7</td>
  <td colspan="3" style="color:red"style="width:300px">Thượng TG</td>
</tr>
<tr>
  <td style="width:300px">Định mức</td>
  <td rowspan="2"style="width:300px">Hệ số thiết bị</td>
  <td rowspan="2"style="width:300px">Số lượng </td>
  <td style="width:300px">Định mức</td>
  <td rowspan="2"style="width:300px">Hệ số thiết bị</td>
  <td rowspan="2"style="width:300px">Số lượng </td>
  <td style="width:300px">Định mức</td>
  <td rowspan="2"style="width:300px">Hệ số thiết bị</td>
  <td rowspan="2"style="width:300px">Số lượng </td>
  <td style="width:300px">Định mức</td>
  <td rowspan="2"style="width:300px">Hệ số thiết bị</td>
  <td rowspan="2"style="width:300px">Số lượng </td>
  <td style="width:300px">Định mức</td>
  <td rowspan="2"style="width:300px">Hệ số thiết bị</td>
  <td rowspan="2"style="width:300px">Số lượng </td>
  <!-- <td>Định mức</td>
  <td>Hệ số thiết bị</td>
  <td>Số lượng  </td> -->
</tr>
<tr>
  <td>1</td>
  <td>1</td>
  <td>1</td>
  <td>1</td>
  <td>1</td>
</tr>
<tr>
  <td><b>Tổng Cộng</b></td>
</tr>
<tr>
  <td><b>Vật Tư Thay Thế BDTX</b></td>
</tr>