<!-- <td class="row-item">
    <input class=" form-control text-center" readonly norm-detail-bind = "value:item_no">
</td> -->
<td class="row-item">
    <input class=" form-control text-center" readonly plan-bind="value:item_name">
</td>
<td class="row-item">
    <input class=" form-control text-center" readonly plan-bind="value:unit_name">
</td>
<td class="row-item">
    <input class=" form-control text-center" plan-bind="value:data_dinhmuc_cu_1000TT">
</td>

<td class="row-item">
    <input class=" form-control text-center" plan-bind="value:data_dinhmuc_1000TT">
</td>

<td class="row-item">
    <input class=" form-control text-center" plan-bind="value:data_dinhmuc_100ML_S96">
</td>
<td class="row-item">
    <input class=" form-control text-center" plan-bind="value:item_name">
</td>
<td class="row-item">
    <input class=" form-control text-center" plan-bind="value:unit_name">
</td>
<td class="row-item">
    <input class=" form-control text-center" plan-bind="value:item_name">
</td>
<td class="row-item">
    <input class=" form-control text-center" plan-bind="value:unit_name">
</td>
<td class="row-item">
    <input class=" form-control text-center" plan-bind="value:note">
</td>
<td class="row-item">
    <input class=" form-control text-center" plan-bind="value:unit_name">
</td>
<td class="row-item">
    <input class=" form-control text-center" plan-bind="value:note">
</td>
<td class="row-item">
    <input class=" form-control text-center" plan-bind="value:unit_name">
</td>
<td class="row-item">
    <input class=" form-control text-center" plan-bind="value:note">
</td>
<td class="row-item">
    <input class=" form-control text-center" plan-bind="value:unit_name">
</td>
<td class="row-item">
    <input class=" form-control text-center" plan-bind="value:note">
</td>
<td class="row-item">
    <input class=" form-control text-center" plan-bind="value:unit_name">
</td>
<td class="row-item">
    <input class=" form-control text-center" plan-bind="value:note">
</td>
<td class="row-item">
    <input class=" form-control text-center" plan-bind="value:unit_name">
</td>
<td class="row-item">
    <input class=" form-control text-center" plan-bind="value:note">
</td>

<td class="row-item">
    <button type="button" class="btn btn-sm btn-outline-danger" id="itemRemove">
        <i class="cil-x"></i>
    </button>
</td>