

<section class="content">
	<div class="col-lg-12">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">Định Mức Chi Tiết Số Lượng</h3>
				<div class="box-tools">
					<div block-bind="toolbar"></div>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="box-body table-responsive">
				<div block-bind="content" class="row" style="margin-right: 0px; margin-left: 0px;">
					<div class="col-lg-6 base-content">
<!-- 						<div class="form-group">
							<label>ID</label>
							<input type="text" data-bind="value:id" class="form-control inputbox">
						</div> -->
						<div class="form-group">
							<label>Mã Định Mức</label>
							<input type="text" data-bind="value:norm_no" class="form-control inputbox">
						</div>
<!-- 						<div class="form-group">
							<label>Mã Đơn Vị</label>
							<input type="text" data-bind="value:type" class="form-control inputbox">
						</div> -->
						<div class="form-group">
							<label>Định Lượng</label>
							<input type="text" data-bind="value:quantity" class="form-control inputbox">
						</div>
<!-- 						<div class="form-group">
							<label>Số Điện Thoại</label>
							<input type="text" data-bind="value:phone_number" class="form-control inputbox">
						</div> -->

					</div>
					<div class="col-lg-6 base-content">
						<div class="form-group">
							<label>Số Định Lượng</label>
							<input type="text" data-bind="value:previous_quantity" class="form-control inputbox">
						</div>
<!-- 						<div class="form-group">
							<label>Trạng thái</label>
							<input type="text" data-bind="value:product_id" class="form-control inputbox">
						</div> -->
						<!-- <div class="form-group">
							<label>Ứng dụng liên kết</label>
							<input type="text" data-bind="list:list_connect_app" class="form-control inputbox">
						</div> -->
						<div class="form-group">
							<label>Mã Định Mức Vật Tư</label>
							<input type="text" data-bind="value:norm_item_no" class="form-control inputbox">
						</div> 
						<div class="form-group">
							<label>Tên Định Mức Vật Tư</label>
							<input type="text" data-bind="value:norm_item_name" class="form-control inputbox">
						</div>
					</div>
<!-- 					<div class="form-group col-lg-12">
						<label>Thông Tin Chi Tiết </label>
						<textarea type="text" data-bind="value:extra_data" class="form-control inputbox"></textarea>
					</div> -->

				</div>
			</div>
			<hr>
		</div>
		<!-- /.box-body -->
	</div>
	<!-- /.box -->
</section>

