<div block-bind="toolbar"></div>
<div block-bind="content">
	<div class="row text-center" style="margin-bottom:10px">
		<div class="col-md-2 text-right"><label>ID</label></div>
		<div class="col-md-3">
			<input type="text" class="form-control" data-bind="value:id" readonly/>
		</div>
	</div>
	<div class="row text-center" style="margin-bottom:10px">
		<div class="col-md-2 text-right"><label>Mã Công Ty</label></div>
		<div class="col-md-3">
			<input type="text" data-bind="value:company_id" class="form-control"/>
		</div>
	</div>
	<div class="row text-center" style="margin-bottom:10px">
		<div class="col-md-2 text-right"><label>Họ Và Tên</label></div>
		<div class="col-md-3">
			<input type="text" data-bind="value:full_name"/>
		</div>
	</div>
	<div class="row text-center" style="margin-bottom:10px">
			<div class="col-md-2 text-right"><label>Tên Tài Khoản</label></div>
			<div class="col-md-3">
				<input type="text" data-bind="value:user_name"/>
			</div>
	</div>
	<div class="row text-center" style="margin-bottom:10px">
		<div class="col-md-2 text-right"><label>Mật Khẩu</label></div>
		<div class="col-md-3">
			<input type="text" class="form-control" data-bind="value:password" readonly/>
		</div>
	</div>
	<div class="row text-center" style="margin-bottom:10px">
		<div class="col-md-2 text-right"><label>Email</label></div>
		<div class="col-md-3">
			<input type="text" data-bind="value:email" class="form-control"/>
		</div>
	</div>
	<div class="row text-center" style="margin-bottom:10px">
		<div class="col-md-2 text-right"><label>Trạng Thái</label></div>
		<div class="col-md-3">
			<input type="text" data-bind="value:active"/>
		</div>
	</div>
	<div class="row text-center" style="margin-bottom:10px">
			<div class="col-md-2 text-right"><label>Roles</label></div>
			<div class="col-md-3">
				<input type="text" data-bind="value:roles"/>
			</div>
	</div>
	<div class="row text-center" style="margin-bottom:10px">
		<div class="col-md-2 text-right"><label>Thông Tin Chi Tiết</label></div>
		<div class="col-md-3">
			<input type="text" data-bind="value:extra_data"/>
		</div>
	</div>
</div>