<td class="row-item">
    <input class=" form-control text-center" direct-cost-bind="value:stage_no">
</td>
<td class="row-item">
    <input class=" form-control text-center" direct-cost-bind="value:brazier_name">
</td>
<td class="row-item">
    <input class=" form-control text-center" direct-cost-bind="value:unit_no">
</td>

<td class="row-item">
    <input class=" form-control text-center" direct-cost-bind="value:brazier_diameter">
</td>
<td class="row-item">
    <input class=" form-control text-center" direct-cost-bind="value:settlement_quantity">
</td>
<td class="row-item">
    <input class=" form-control text-center" direct-cost-bind="value:list_price">
</td>
<td class="row-item">
    <input class=" form-control text-center" direct-cost-bind="value:total_amount">
</td>
<!-- /////// -->
<td class="row-item">
    <input class=" form-control text-center" direct-cost-bind="value:item_list_price">
</td>
<td class="row-item">
    <input class=" form-control text-center" direct-cost-bind="value:item_amount">
</td>
<td class="row-item">
    <input class=" form-control text-center" direct-cost-bind="value:fuel_item_list_price">
</td>
<td class="row-item">
    <input class=" form-control text-center" direct-cost-bind="value:fuel_item_amount">
</td>
<td class="row-item">
    <input class=" form-control text-center" direct-cost-bind="value:salary_list_price">
</td>
<td class="row-item">
    <input class=" form-control text-center" direct-cost-bind="value:salary_amount">
</td>
<td class="row-item">
    <input class=" form-control text-center" direct-cost-bind="value:insurance_list_price">
</td>
<td class="row-item">
    <input class=" form-control text-center" direct-cost-bind="value:insurance_amount">
</td>

<td class="row-item">
    <input class=" form-control text-center" direct-cost-bind="value:depreciation_list_price">
</td>
<td class="row-item">
    <input class=" form-control text-center" direct-cost-bind="value:depreciation_amount">
</td>
<td class="row-item">
    <input class=" form-control text-center" direct-cost-bind="value:other_cost_list_price">
</td>
<td class="row-item">
    <input class=" form-control text-center" direct-cost-bind="value:other_cost_amount">
</td>
