<!-- chi phi quan ly  -->
<td class="row-item">
    <input class=" form-control text-center" management-cost-bind="value:stage_no">
</td>
<td class="row-item">
    <input class=" form-control text-center" management-cost-bind="value:brazier_name">
</td>
<td class="row-item">
    <input class=" form-control text-center" management-cost-bind="value:unit_no">
</td>


<td class="row-item">
    <input class=" form-control text-center" management-cost-bind="value:settlement_quantity">
</td>
<td class="row-item">
    <input class=" form-control text-center" management-cost-bind="value:list_price">
</td>
<td class="row-item">
    <input class=" form-control text-center" management-cost-bind="value:total_amount">
</td>
<!-- //////// -->

<td class="row-item">
    <input class=" form-control text-center" management-cost-bind="value:salary_list_price">
</td>
<td class="row-item">
    <input class=" form-control text-center" management-cost-bind="value:salary_amount">
</td>
<td class="row-item">
    <input class=" form-control text-center" management-cost-bind="value:insurance_list_price">
</td>
<td class="row-item">
    <input class=" form-control text-center" management-cost-bind="value:insurance_amount">
</td>

<td class="row-item">
    <input class=" form-control text-center" management-cost-bind="value:other_cost_list_price">
</td>
<td class="row-item">
    <input class=" form-control text-center" management-cost-bind="value:other_cost_amount">
</td>
