<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="card  card-small mb-4" style="position: relative;">
      <div class="card-header  border-bottom">
        <div class="row">
          <div class="col-md-7">
            <h3 class="box-title">Quyết Toán Chi Phí Sản Phẩm</h3>
          </div>
          <div class="col-md-5 text-right">
            <button id="btn-back" class="btn btn-sm btn-default">Quay lại</button>
            <button id="btn-save" class="btn btn-sm btn-success">Lưu quyết toán</button>
            <button id="btn-export-excel" class="btn btn-sm btn-info">Xuất excel</button>
          </div>
        </div>
      </div>

      <div class="card-body row">
        <div class="col-md-2 col-lg-2 col-sm-12 col-2">
          <div class="form-group">
            <label for="">Mã Quyết Toán</label>
            <input class="form-control"  data-bind="value:settlement_no"/>
          </div>
        </div>
        <div class="col-md-2 col-lg-2 col-sm-12 col-2">
          <div class="form-group">
            <label for="">Tên Quyết Toán</label>
            <input class="form-control"  data-bind="value:settlement_name"/>
          </div>
        </div>
        <div class="col-md-2 col-lg-2 col-sm-12 col-2">
          <div class="form-group">
            <label for="">Mã Đơn vị</label>
            <input class="form-control" data-bind="value:department_no" readonly/>
          </div>
        </div>
        <div class="col-md-2 col-lg-2 col-sm-12 col-2">
          <div class="form-group">
            <label for="">Tên Đơn vị</label>
            <input class="form-control" data-bind="value:department_name" readonly/>
          </div>
        </div>
	  </div>
	  
	  <div class="card-body row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-12">
          <!-- tab -->
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a href="#plan_items_tab" data-toggle="tab" class="nav-link active">Chi phí Sản xuất trực tiếp</a>
            </li>
            <li class="nav-item">
                <a href="#plan_fuel_items_tab" data-toggle="tab" class="nav-link">Chi Phí Quản Lý Sản Xuất</a>
            </li>

            <li class="nav-item"> 
              <a href="#plan_salary_tab" data-toggle="tab" class="nav-link">Chi Phí Khác</a>
            </li>
          </ul> 

          <!-- Nội dung -->
          <div class="tab-content"> 
            <div class="tab-pane active" id="plan_items_tab">
              <div class="card-body row">
                
                <div class="col-12 out-click">
                  
                  <div class="d-flex justify-content-around align-items-center w-100">
        
                    <table class="table table-striped" id="plan_fuel_item">
						<thead>
						  <tr>
							<th rowspan="3" scope="col" class="text-center" style="width:300px; vertical-align: middle;">Mã công đoạn</th>
							<th rowspan="3" scope="col" class="text-center" style="width:900px; vertical-align: middle;">Nội dung</th>
							<th rowspan="3" scope="col" class="text-center" style="width:300px; vertical-align: middle;">ĐVT</th>
							<th rowspan="3" scope="col" class="text-center" style="width:300px; vertical-align: middle;">Tiết diện</th>
							<th rowspan="3" scope="col" class="text-center" style="width:300px; vertical-align: middle;">Khối Lượng</th>
							<th rowspan="3" scope="col" class="text-center" style="width:300px; vertical-align: middle;">Đơn giá</th>
							<th rowspan="3" scope="col" class="text-center" style="width:300px; vertical-align: middle;">Tổng chi phí</th>
		
							<th colspan="12" scope="col" class="text-center" style="width:300px; vertical-align: middle;">Chi phí thực hiện</th>
		
							
							<!-- <th scope="col"></th> -->
						  </tr>
						  <tr>
							<th colspan="2" scope="col" class="text-center" style="width:300px; vertical-align: middle;">Vật liệu</th>
							<th colspan="2" scope="col" class="text-center" style="width:300px; vertical-align: middle;">Nhiên liệu</th>
							<!-- <th colspan="2" scope="col" class="text-center" style="width:900px; vertical-align: middle;">Động lưc</th> -->
							<th colspan="2" scope="col" class="text-center" style="width:300px; vertical-align: middle;">Tiền lương</th>
							<th colspan="2" scope="col" class="text-center" style="width:300px; vertical-align: middle;">BHXH</th>
							<th colspan="2" scope="col" class="text-center" style="width:300px; vertical-align: middle;">KHTS</th>
							<th colspan="2" scope="col" class="text-center" style="width:300px; vertical-align: middle;">Chi khác</th>
		
						  </tr>
						  <tr>
							<th scope="col" class="text-center" style="width:300px; vertical-align: middle;">Đơn giá</th>
							<th scope="col" class="text-center" style="width:300px; vertical-align: middle;">Thành tiền</th>
							<!-- <th scope="col" class="text-center" style="width:300px; vertical-align: middle;">Đơn giá</th>
							<th scope="col" class="text-center" style="width:300px; vertical-align: middle;">Thành tiền</th> -->
							<th scope="col" class="text-center" style="width:300px; vertical-align: middle;">Đơn giá</th>
							<th scope="col" class="text-center" style="width:300px; vertical-align: middle;">Thành tiền</th>
							<th scope="col" class="text-center" style="width:300px; vertical-align: middle;">Đơn giá</th>
							<th scope="col" class="text-center" style="width:300px; vertical-align: middle;">Thành tiền</th>
							<th scope="col" class="text-center" style="width:300px; vertical-align: middle;">Đơn giá</th>
							<th scope="col" class="text-center" style="width:300px; vertical-align: middle;">Thành tiền</th>
							<th scope="col" class="text-center" style="width:300px; vertical-align: middle;">Đơn giá</th>
							<th scope="col" class="text-center" style="width:300px; vertical-align: middle;">Thành tiền</th>
							<th scope="col" class="text-center" style="width:300px; vertical-align: middle;">Đơn giá</th>
							<th scope="col" class="text-center" style="width:300px; vertical-align: middle;">Thành tiền</th>
						  </tr>
						</thead>
					  </table>
                  </div>
        
                </div>
              </div>
            </div>
            <!--End of plan_items_tab-->
            <div class="tab-pane" id="plan_fuel_items_tab">
              <div class="card-body row">
                <div class="col-1 text-center"> <button id="add_item" class="btn btn-sm btn-success">Thêm</div>
                <div class="col-3">
                  <select class="form-control" id="select_fuel_items_cat">
                    <!-- <option value="cat_id_1">Vật tư máy cào SGB620/40</option>
                      <option value="cat_id_2">Vật tư máy cào C14</option> -->
                  </select>
                </div>
                <div class="col-3">
                  <select class="form-control" id="select_fuel_items_item">
                    <!-- <option value="cat_id_1">Vật tư máy cào SGB620/40</option>
                      <option value="cat_id_2">Vật tư máy cào C14</option> -->
                  </select>
                </div>
                <div class="col-5">
                  <span id="add_fuel_items_error_message" style="display: none">(*) Vật tư đã tồn tại trong bảng định mức</span>
                </div>
              </div>
        
              
        
              <div class="card-body row">
                
                <div class="col-12 out-click">
                  
                  <div class="d-flex justify-content-around align-items-center w-100">
        
                    <table class="table table-striped" id="plan_fuel_item">
						<thead>
						  <tr>
							<th rowspan="3" scope="col" class="text-center" style="width:300px; vertical-align: middle;">Mã công đoạn</th>
							<th rowspan="3" scope="col" class="text-center" style="width:900px; vertical-align: middle;">Nội dung</th>
							<th rowspan="3" scope="col" class="text-center" style="width:300px; vertical-align: middle;">ĐVT</th>
							<!-- <th rowspan="3" scope="col" class="text-center" style="width:300px; vertical-align: middle;">Tiết diện</th> -->
							<th rowspan="3" scope="col" class="text-center" style="width:300px; vertical-align: middle;">Khối Lượng</th>
							<th rowspan="3" scope="col" class="text-center" style="width:300px; vertical-align: middle;">Đơn giá</th>
							<th rowspan="3" scope="col" class="text-center" style="width:300px; vertical-align: middle;">Tổng chi phí</th>
		
							<th colspan="6" scope="col" class="text-center" style="width:300px; vertical-align: middle;">Chi phí thực hiện</th>
		
							
							<!-- <th scope="col"></th> -->
						  </tr>
						  <tr>
							<!-- <th colspan="2" scope="col" class="text-center" style="width:300px; vertical-align: middle;">Vật liệu</th>
							<th colspan="2" scope="col" class="text-center" style="width:300px; vertical-align: middle;">Nhiên liệu</th> -->
							<!-- <th colspan="2" scope="col" class="text-center" style="width:900px; vertical-align: middle;">Động lưc</th> -->
							<th colspan="2" scope="col" class="text-center" style="width:300px; vertical-align: middle;">Tiền lương</th>
							<th colspan="2" scope="col" class="text-center" style="width:300px; vertical-align: middle;">BHXH</th>
							<!-- <th colspan="2" scope="col" class="text-center" style="width:300px; vertical-align: middle;">KHTS</th> -->
							<th colspan="2" scope="col" class="text-center" style="width:300px; vertical-align: middle;">Chi khác</th>
		
						  </tr>
						  <tr>
							<!-- <th scope="col" class="text-center" style="width:300px; vertical-align: middle;">Đơn giá</th>
							<th scope="col" class="text-center" style="width:300px; vertical-align: middle;">Thành tiền</th> -->
							<!-- <th scope="col" class="text-center" style="width:300px; vertical-align: middle;">Đơn giá</th>
							<th scope="col" class="text-center" style="width:300px; vertical-align: middle;">Thành tiền</th> -->
							<!-- <th scope="col" class="text-center" style="width:300px; vertical-align: middle;">Đơn giá</th>
							<th scope="col" class="text-center" style="width:300px; vertical-align: middle;">Thành tiền</th> -->
							<!-- <th scope="col" class="text-center" style="width:300px; vertical-align: middle;">Đơn giá</th>
							<th scope="col" class="text-center" style="width:300px; vertical-align: middle;">Thành tiền</th> -->
							<th scope="col" class="text-center" style="width:300px; vertical-align: middle;">Đơn giá</th>
							<th scope="col" class="text-center" style="width:300px; vertical-align: middle;">Thành tiền</th>
							<th scope="col" class="text-center" style="width:300px; vertical-align: middle;">Đơn giá</th>
							<th scope="col" class="text-center" style="width:300px; vertical-align: middle;">Thành tiền</th>
							<th scope="col" class="text-center" style="width:300px; vertical-align: middle;">Đơn giá</th>
							<th scope="col" class="text-center" style="width:300px; vertical-align: middle;">Thành tiền</th>
						  </tr>
						</thead>
					  </table>
                  </div>
        
                </div>
              </div>
            </div>
            <!--End of plan_fuel_items_tab-->
            <div class="tab-pane fade" id="plan_salary_tab">
              <div class="card-body row">
                
                <div class="col-1 text-center"> <button id="add_salary_item" class="btn btn-sm btn-success">Thêm</div>
                <div class="col-5">
                  <span id="add_item_error_message" style="display: none">(*) Mục này đã tồn tại trong bảng định mức</span>
                </div>
              </div>
      
              <div class="card-body row">
                <div class="col-12 out-click">
                  <div class="d-flex justify-content-around align-items-center w-100">
      
                    <table class="table table-striped" id="plan_fuel_item">
						<thead>
						  <tr>
							<th rowspan="3" scope="col" class="text-center" style="width:300px; vertical-align: middle;">Mã công đoạn</th>
							<th rowspan="3" scope="col" class="text-center" style="width:900px; vertical-align: middle;">Nội dung</th>
							<th rowspan="3" scope="col" class="text-center" style="width:300px; vertical-align: middle;">ĐVT</th>
							<!-- <th rowspan="3" scope="col" class="text-center" style="width:300px; vertical-align: middle;">Tiết diện</th> -->
							<th rowspan="3" scope="col" class="text-center" style="width:300px; vertical-align: middle;">Khối Lượng</th>
							<th rowspan="3" scope="col" class="text-center" style="width:300px; vertical-align: middle;">Đơn giá</th>
							<th rowspan="3" scope="col" class="text-center" style="width:300px; vertical-align: middle;">Tổng chi phí</th>
		
							<th colspan="12" scope="col" class="text-center" style="width:300px; vertical-align: middle;">Chi phí thực hiện</th>
		
							
							<!-- <th scope="col"></th> -->
						  </tr>
						  <tr>
							<th colspan="2" scope="col" class="text-center" style="width:300px; vertical-align: middle;">Vật liệu</th>
							<th colspan="2" scope="col" class="text-center" style="width:300px; vertical-align: middle;">Nhiên liệu</th>
							<!-- <th colspan="2" scope="col" class="text-center" style="width:900px; vertical-align: middle;">Động lưc</th> -->
							<!-- <th colspan="2" scope="col" class="text-center" style="width:300px; vertical-align: middle;">Tiền lương</th>
							<th colspan="2" scope="col" class="text-center" style="width:300px; vertical-align: middle;">BHXH</th>
							<th colspan="2" scope="col" class="text-center" style="width:300px; vertical-align: middle;">KHTS</th> -->
							<th colspan="2" scope="col" class="text-center" style="width:300px; vertical-align: middle;">Chi khác</th>
		
						  </tr>
						  <tr>
							<!-- <th scope="col" class="text-center" style="width:300px; vertical-align: middle;">Đơn giá</th>
							<th scope="col" class="text-center" style="width:300px; vertical-align: middle;">Thành tiền</th> -->
							<!-- <th scope="col" class="text-center" style="width:300px; vertical-align: middle;">Đơn giá</th>
							<th scope="col" class="text-center" style="width:300px; vertical-align: middle;">Thành tiền</th> -->
							<!-- <th scope="col" class="text-center" style="width:300px; vertical-align: middle;">Đơn giá</th>
							<th scope="col" class="text-center" style="width:300px; vertical-align: middle;">Thành tiền</th>
							<th scope="col" class="text-center" style="width:300px; vertical-align: middle;">Đơn giá</th>
							<th scope="col" class="text-center" style="width:300px; vertical-align: middle;">Thành tiền</th> -->
							<th scope="col" class="text-center" style="width:300px; vertical-align: middle;">Đơn giá</th>
							<th scope="col" class="text-center" style="width:300px; vertical-align: middle;">Thành tiền</th>
							<th scope="col" class="text-center" style="width:300px; vertical-align: middle;">Đơn giá</th>
							<th scope="col" class="text-center" style="width:300px; vertical-align: middle;">Thành tiền</th>
							<th scope="col" class="text-center" style="width:300px; vertical-align: middle;">Đơn giá</th>
							<th scope="col" class="text-center" style="width:300px; vertical-align: middle;">Thành tiền</th>
						  </tr>
						</thead>
					  </table>
                  </div>
      
                 
                </div>
              </div>
            </div> 
            <!--End of plan_salary_tab-->

          </div>
        </div>
	  </div>
	  
    </div>
  </div>
</div>
</div>