<!-- chi phi khac -->

<td class="row-item">
    <input class=" form-control text-center" other-cost-bind="value:stage_no">
</td>
<td class="row-item">
    <input class=" form-control text-center" other-cost-bind="value:brazier_name">
</td>
<td class="row-item">
    <input class=" form-control text-center" other-cost-bind="value:unit_no">
</td>


<td class="row-item">
    <input class=" form-control text-center" other-cost-bind="value:settlement_quantity">
</td>
<td class="row-item">
    <input class=" form-control text-center" other-cost-bind="value:list_price">
</td>
<td class="row-item">
    <input class=" form-control text-center" other-cost-bind="value:total_amount">
</td>
<!-- //////// -->

<td class="row-item">
    <input class=" form-control text-center" other-cost-bind="value:item_list_price">
</td>
<td class="row-item">
    <input class=" form-control text-center" other-cost-bind="value:item_amount">
</td>
<td class="row-item">
    <input class=" form-control text-center" other-cost-bind="value:fuel_item_list_price">
</td>
<td class="row-item">
    <input class=" form-control text-center" other-cost-bind="value:fuel_item_amount">
</td>

<td class="row-item">
    <input class=" form-control text-center" other-cost-bind="value:other_cost_list_price">
</td>
<td class="row-item">
    <input class=" form-control text-center" other-cost-bind="value:other_cost_amount">
</td>