<div block-bind="toolbar"></div>
<div block-bind="content">
	<div class="row text-center" style="margin-bottom:10px">
		<div class="col-md-2 text-right"><label>ID</label></div>
		<div class="col-md-3">
			<input type="text" class="form-control" data-bind="value:id" readonly/>
		</div>
	</div>
	<div class="row text-center" style="margin-bottom:10px">
		<div class="col-md-2 text-right"><label>Mã Đơn Vị </label></div>
		<div class="col-md-3">
			<input type="text" data-bind="value:company_id" class="form-control"/>
		</div>
	</div>
	<div class="row text-center" style="margin-bottom:10px">
		<div class="col-md-2 text-right"><label>Thông Tin Chi Tiết</label></div>
		<div class="col-md-3">
			<input type="text" data-bind="value:extra_data"/>
		</div>
	</div>
	<!-- <div class="row text-center" style="margin-bottom:10px">
			<div class="col-md-2 text-right"><label>Giá</label></div>
			<div class="col-md-3">
				<input type="text" data-bind="value:gia"/>
			</div>
	</div> -->
</div>