<div class="row">
    <div class="col-md-12">
        <div class="white-box form-horizontal form-material">
			<div class="row">
				<div class="col-lg-6 col-6 float-left">
					<!-- <button class="btn btn-primary btn-sm" id="btn_select_all">Chọn tất cả</button> -->
					<button class="btn btn-primary btn-sm" id="btn_done">Xác nhận</button>
					<button class="btn btn-default btn-sm" id="btn_cancel">Huỷ</button>
				</div>
			</div>
			<div class="row" style="margin-top: 20px;">
				<div class="col-lg-12 col-12">
					<div style="margin-top: 10px; margin-bottom: 10px;">Chọn dữ liệu Vật Tư đã chuẩn bị để import vào phần mềm</div>
					<div class="custom-file">
						<span class="control-fileupload">
							<label for="file">Chọn file excel:</label>
							<input type="file" id="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
						</span>
					</div>
					<div style="margin-top: 10px;">
						<p>Nếu chưa có tệp mẫu để chuẩn bị dữ liệu?</p>
						<p>- Tải tệp excel mẫu mà phần mềm cung cấp để chuẩn bị dữ liệu nhập khẩu Tại đây</p>
						<p>- Cập nhập dữ liệu đã có</p>
					</div>
				</div>
			</div>
        </div>
    </div>
</div>