<td class="row-item">
    <input class=" form-control text-center" readonly other-cost-bind="value:item_name">
</td>
<td class="row-item">
    <input class=" form-control text-center" readonly other-cost-bind="value:unit_name">
</td>
<!-- <td class="row-item">
    <input class=" form-control text-center" readonly other-cost-bind="value:list_price">
</td> -->
<td class="row-item">
    <input class=" form-control text-center" other-cost-bind="value:quantity">
</td>
<td class="row-item">
    <input class=" form-control text-center" other-cost-bind="value:list_price">
</td>
<td class="row-item">
    <input class=" form-control text-center" other-cost-bind="value:working_days">
</td>

<td class="row-item">
    <input class=" form-control text-center" other-cost-bind="value:total_amount">
</td>
<td class="row-item">
    <input class=" form-control text-center" other-cost-bind="value:note">
</td>

<td class="row-item">
    <button type="button" class="btn btn-sm btn-outline-danger" id="itemRemove">
        <i class="cil-x"></i>
    </button>
</td>