<td class="row-item">
    <input class=" form-control text-center" readonly salary-bind="value:item_name">
</td>
<td class="row-item">
    <input class=" form-control text-center" readonly salary-bind="value:unit_name">
</td>
<td class="row-item">
    <input class=" form-control text-center" salary-bind="value:quantity">
</td>

<td class="row-item">
    <input class=" form-control text-center" salary-bind="value:list_salary_price">
</td>
<td class="row-item">
    <input class=" form-control text-center" salary-bind="value:salary_amount">
</td>
<td class="row-item" >
    <input class=" form-control text-center" salary-bind="value:list_insurance_price">
</td>

<td class="row-item">
    <input class=" form-control text-center" salary-bind="value:insurance_amount">
</td>
<td class="row-item">
    <input class=" form-control text-center" salary-bind="value:factor">
</td>

<td class="row-item">
    <input class=" form-control text-center" salary-bind="value:average_salary">
</td>
<td class="row-item">
    <input class=" form-control text-center" salary-bind="value:note">
</td>



<td class="row-item">
    <button type="button" class="btn btn-sm btn-outline-danger" id="itemRemove">
        <i class="cil-x"></i>
    </button>
</td>