
<div block-bind="content">
  <div class="page-header row no-gutters py-2">
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card  card-small mb-4" style="position: relative;">
        <div class="card-header  border-bottom">
          <div class="row">
            <div class="col-md-7">
              <h6 class="m-0 pt-2">Thông tin Định Mức Băng Tải</h6>
            </div>
            <div class="col-md-5 text-right">
              <div block-bind="toolbar"></div>
            </div>
          </div>
        </div>
        <div class="card-body row">
          <div class="col-md-8 col-lg-6 col-sm-12 col-12">
            <div class="form-group">
              <label for="">Tên định mức </label>
<!--               <input id="organization" readonly class="form-control" data-bind="dict:norm_no" />
 -->          
              <input id="organization"  class="form-control" data-bind="value:norm_no" />


            </div>
          </div>
<!--           <div class="col-md-2 col-lg-2 col-sm-4 col-4">
            <div class="form-group">
              <label for="day-create">Thời gian tạo</label>
              <input id="grid_search_date" type="text" data-bind="value:ngaynhap" />
            </div>
          </div> -->
          <div class="col-md-2 col-lg-2 col-sm-4 col-4">
            <div class="form-group">
              <label for="day-create">Thời gian lập</label>
              <input type="text" data-bind="value:from_time" />
            </div>
          </div>
<!--           <div class="col-md-2 col-lg-2 col-sm-4 col-4">
            <div class="form-group">
              <label for="day-create">Quyết Định Số</label>
              <input type="text" data-bind="value:to_time" />
            </div>
          </div> -->


          <div class="card-body row">
            <div class="col-md-8 col-lg-6 col-sm-12 col-12">
              <div class="form-group">
                <label for="">Trạng Thái</label>
                <input class="form-control" data-bind="value:active" />
              </div>
            </div>

       
          <div class="col-md-2 col-lg-2 col-sm-4 col-4">
            <div class="form-group">
              <label for="day-create">Quyết Định Số</label>
              <input type="text" data-bind="value:to_time" />
            </div>
          </div>




            <div class="col-12 out-click">
              <div class="d-flex justify-content-around align-items-center w-100">
                <div  id="add_row"></div>
                <table class="table table-striped">
<!--                   <thead> -->

                    <tr>
                      <th scope="col" class="text-center" style="width:5%">TT</th>
                      <th scope="col" class="text-center" style="width:25%">Danh Mục</th>
                      <th scope="col" class="text-center" style="width:10%">Đơn Vị</th>
         
                      <th scope="col" class="text-center" style="width:10%">Định Mức Đang ÁP</th>
                      <th scope="col" class="text-center" style="width:20%">Định Mức Mới</th>
                      <th scope="col" class="text-center" style="width:20%">Định Mức Mới</th>
                      <th  scope="col" class="text-center" style="width:10%">Ghi Chú</th>
                      
                      <th scope="col" style="width:3%"></th>
                      <th scope="col" style="width:3%"></th>
                    </tr>


                    
                 <div  id="add_row2"></div>
                    <tr>

                      <th  colspan="2" class="text-center" style="width:25%">Vật Tư Băng Tải
                        <select name=”MaBangTai”>
                           <option value=”0″>Chọn Vật Tư Băng Tải</option>
                           <option value=”34″>B1000 ngầm trung tâm</option>
                           <option value=”46″>B1000</option>
                           <option value=”68″>B800</option>
                           <option value=”68″>treo B800</option>
                           <option value=”68″>khung B650</option>
                        </select> 
                      </th>
<!--                       <th colspan="2" class="text-center" style="width:25%">
                        <select name=”MaVatTu”>
                           <option value=”0″>Chọn Mã Vật Tư Máy Cào</option>
                           <option value=”34″>SGB620/40</option>
                           <option value=”46″>C14</option>
                           <option value=”68″>CP70M</option>
                        </select> 
                      </th>  -->
<!--                       <th  colspan="6" class="text-center" style="width:65%">Tính Cho Một Máy</th>   -->                                      
                    </tr>                    


<!--                   </thead>
 -->                  <tbody id="" data-bind="list:norm_details"></tbody>
                </table>
              </div>
              <div class="col-md-6 justify-content-around">
                <div id="search-item"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<!--       // norm_no = db.Column(String(255),nullable = True)
    // from_time = db.Column(BigInteger(), index=True)
    // to_time = db.Column(BigInteger(), index=True)
    // priority = db.Column(Integer(), default=10) -->